@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   --Tomato: hsl(4, 100%, 67%);
   --Dark-Slate-Grey: hsl(234, 29%, 20%);
   --Charcoal-Grey: hsl(235, 18%, 26%);
   --Grey: hsl(231, 7%, 60%);
   --White: hsl(0, 0%, 100%);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

img {
   width: 100%;
}

body {
   background-color: var(--Charcoal-Grey);
   color: var(--Dark-Slate-Grey);
   display: grid;
   place-content: center;
   min-height: 100vh;
}

.main-card-container {
   max-width: 100%;
   background-color: var(--White);
   border-radius: 1.25rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
   padding: 1rem;
   /* display: none; */
}

.image-mobile {
   display: none;
}


.form-container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   margin: 2rem;
   width: 400px;
}

.form-container h1 {
   font-size: 3rem;
   letter-spacing: .1rem;
}

.form-container p {
   width: 85%;
   text-wrap: wrap;
   font-size: 1.15rem;
}


.form-container li {
   list-style: none;
   line-height: 2.5em;
}

.form-container li::before {
   content: '';
   display: inline-block;
   background-image: url(./images/icon-list.svg);
   background-size: contain;
   background-repeat: no-repeat;
   width: 1.25rem;
   height: 1.25rem;
   margin-right: .75rem;
   margin-bottom: -0.15rem;
}


.label-and-error-msg {
   display: flex;
   justify-content: space-between;
   line-height: 1;
}

label {
   font-weight: 700;
   font-size: .8rem;
}

#error-msg {
   font-weight: 500;
   color: var(--Tomato);
   font-size: .8rem;
}

.form-container input[type=email] {
   width: 100%;
   padding: 18px;
   margin: 15px 0;
   box-sizing: border-box;
   border: 1px solid hsl(231, 7%, 60%, 0.7);
   border-radius: 5px;
   cursor: pointer;
}

.form-container input[type=email]::placeholder {
   color: hsl(231, 7%, 60%, 0.7);
}

.form-container input[type=email]:focus {
   outline: 1px solid var(--Dark-Slate-Grey);
   color: var(--Dark-Slate-Grey);
}

.form-container button {
   width: 100%;
   padding: 20px;
   color: var(--White);
   background-color: var(--Dark-Slate-Grey);
   font-weight: 700;
   border: none;
   border-radius: 5px;
   font-size: .8rem;
   cursor: pointer;
}

.form-container button:hover,
.form-container button:focus,
.form-container button:active {
   background: linear-gradient(90deg, #FF586C, #FF6841);
   transition: .5s;
}


/* thank you message container */

.thank-you-container {
   max-width: 450px;
   height: 450px;
   border: none;
   background-color: var(--White);
   padding: 3.5rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   gap: 1rem;
   border-radius: 1.25rem;
}

.thank-you-img {
   width: 55px;
   height: 55px;
}

.thank-you-container h1 {
   font-size: 3rem;
   margin-top: .5rem;
   line-height: 1.2;
}

.thank-you-container p {
   font-size: .9rem;
   margin: .5rem auto;
}

.thank-you-container p span {
   font-weight: 700;
}

.thank-you-container button {
   width: 100%;
   padding: 18px;
   color: var(--White);
   background-color: var(--Dark-Slate-Grey);
   font-weight: 700;
   border: none;
   border-radius: 5px;
   font-size: 1rem;
   cursor: pointer;
   margin-bottom: 1rem;
}

.thank-you-container button:hover,
.thank-you-container button:focus,
.thank-you-container button:active {
   background: linear-gradient(90deg, #FF586C, #FF6841);
   transition: .5s;
}


/* Media queries */

@media screen and (max-width: 768px) {
   body {
      background-color: var(--White);
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      display: flex;
      align-items: center;

   }

   .main-card-container {
      display: flex;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      flex-direction: column-reverse;
      min-height: 100vh;
   }

   .image-container {
      width: 100%;
   }

   .image-desktop {
      display: none;
   }

   .image-mobile {
      display: block;
      object-fit: contain;
   }

   .form-container {
      display: none;
      flex-direction: column;
      gap: 2rem;
      margin: 2rem;
   }

   .thank-you-container {
      padding: 3.5rem;
      display: flex;
      gap: 1rem;

   }

   .thank-you-container h1 {
      font-size: 2.5rem;
   }

   .thank-you-container p {
      font-size: 1rem;
   }

   .thank-you-container button {
      margin-top: 6rem;
   }
}